---
interface Props {
  title: string;
}
---

<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon.png" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

<!-- Metadata -->
<meta property="og:title" content={Astro.props.title} />
<meta property="og:type" content="website" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Page -->
<title>{Astro.props.title}</title>
