<header
  id="index-header"
  class="section-xlines font-display text-6xl md:text-8xl text-[var(--color-foreground)] font-semibold md:leading-[5.5rem] select-none px-1.5 pt-[0.5rem] pb-[0.35rem]"
>
  <span class="block">
    Ribbon <span class="inline italic font-bold glimmer">
      <span class="glimmer-inner">Design</span>
    </span>
  </span>
  <span>Document</span>
</header>
