---
import BowOutline from "../graphics/BowOutline.astro";
import BowSilhouette from "../graphics/BowSilhouette.astro";
import GitHub from "../graphics/GitHub.astro";
import SearchBar from "./SearchBar.astro";
---

<nav
  class="max-h-8 min-h-8 section-xlines px-2 items-center flex justify-between"
>
  <div>
    <SearchBar />
  </div>
  <div class="flex space-x-3 items-center">
    <div class="flex flex-col items-center">
      <span class="text-xs text-[var(--color-foreground-accent)]/75"
        >Sponsor</span
      >
    </div>
    <GitHub />
  </div>
</nav>
