---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import Explorer from "../components/Explorer.astro";
import { type CollectionEntry } from "astro:content";
import SearchBar from "../components/SearchBar.astro";
import GitHub from "../graphics/GitHub.astro";
import BowOutline from "../graphics/BowOutline.astro";
import BowSilhouette from "../graphics/BowSilhouette.astro";
import TinyBowOutlines from "../graphics/TinyBowOutlines.astro";

type Props = CollectionEntry<"docs">["data"] & {
  headings: { depth: number; text: string }[];
};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={Astro.props.title} />
  </head>

  <body class="w-full min-h-screen isolate">
    <div
      class="fixed inset-x-0 top-0 z-10 border-b border-[var(--color-background-accent)]"
    >
      <div
        class="h-14 bg-[var(--color-background)] px-6 items-center flex justify-between"
      >
        <div class="flex space-x-6 items-center">
          <TinyBowOutlines class="max-w-6 max-h-6 w-6 h-6" />
          <SearchBar />
        </div>
        <div class="flex space-x-6 items-center">
          <div class="flex flex-col items-center">
            <span
              class="text-xs text-[var(--color-foreground-accent)]/75 pt-0.5"
              >Sponsor</span
            >
          </div>
          <GitHub />
        </div>
      </div>
    </div>
    <main
      class="document-main grid min-h-dvh grid-cols-1 grid-rows-[1fr_1px_auto_1px_auto] lg:grid-cols-[var(--container-2xs)_2rem_minmax(0,1fr)_2rem] xl:grid-cols-[var(--container-2xs)_2rem_minmax(0,1fr)_2rem]"
    >
      <aside
        class="relative col-start-1 row-span-full row-start-1 max-lg:hidden"
      >
        <div class="absolute inset-0">
          <div
            class="sticky top-14.25 bottom-0 left-0 h-full max-h-[calc(100dvh-(var(--spacing)*14.25))] overflow-y-auto scroll-smooth"
          >
            <Explorer />
          </div>
        </div>
      </aside>
      <div class="hatching border-x col-start-2 row-span-5 row-start-1"></div>
      <article
        id="document-body"
        class="document-content relative row-start-1 grid grid-cols-subgrid lg:col-start-3"
      >
        <div class="relative row-start-1 grid grid-cols-subgrid lg:col-start-3">
          <div class="px-4 pb-24 sm:px-6 xl:pr-0 pt-10">
            <div
              class="isolate mx-auto grid w-full max-w-2xl grid-cols-1 gap-3 pt-12 md:pb-24 xl:max-w-5xl"
            >
              <!--<div>
                <span class="text-[calc(var(--text-sm)*0.8)] uppercase">{Astro.props.title}</span>
              </div>-->
              <slot />
            </div>
          </div>
          <div></div>
        </div>
      </article>
      <div class="hatching border-x col-start-4 row-span-5 row-start-1"></div>
    </main>
  </body>
</html>
